   <div class="container p-3 my-3 border">
    <button
      class="btn btn-success float-right" 
     (click)="openDialogMedicine()">
      Add New Medicine
    </button>

  
    <h1>Medicines</h1>
    <!-- <button id="buttonAdd" (click)="CreateExperience()">+</button> -->
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Medicine</th>
                <th>Price</th>
                <th>Selling Price</th>
            </tr>
        </thead>
        <tbody>
  
          <tr id="test"  *ngFor="let medicine of medicines">
            <td>{{medicine.medName}}</td>
            <td>{{medicine.price}}</td>
            <td>{{medicine.sellingPrice}}</td>
            <!-- <button class="btn btn-danger float-right" (click)="openDialogDelete(medicine.id)" id="">{{medicine.id}}</button> -->
            <button class="float-right" mat-icon-button ria-label="" (click)="openDialogDelete(medicine.id)">
              <mat-icon>remove_circle_outline</mat-icon>
            </button>
            <button class="edit-icon icons" mat-icon-button ria-label="" (click)="openDialogUpdate(medicine)">
              <mat-icon>border_color</mat-icon>
            </button>
            
          </tr>
          
        </tbody>
    </table>
  
  </div>
  