
  <div class="container p-3 my-3 border">
  <h1>Patients</h1>
  <!-- <button id="buttonAdd" (click)="CreateExperience()">+</button> -->
  
  <table class="table table-hover">
      <thead>
          <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Email Name</th>
              <th>Disease</th>
              <th>Date of birth</th>
          </tr>
      </thead>
      <tbody>

        <tr id="test"  *ngFor="let patient of pts" (click)="getPatientData(patient.id)" data-toggle="modal" data-target="#addProfileModal" > 
          <td>{{patient.id}}</td>
          <td>{{patient.lastName}}</td>
          <td>{{patient.email}}</td>
          <td>{{patient.disease}}</td>
          <td>{{patient.dateOfBirth}}</td>
        </tr>
        
      </tbody>
  </table>
  <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal1">
  Launch demo modal
</button>


<!-- <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#addProfileModal" id="buttonAdd">Add New Profile</button> -->
  <br><br><br>
  <div class="modal fade" id="addProfileModal">
      <div class="modal-dialog">
      <div class="modal-content">
      
          <!-- Modal Header -->
          <div class="modal-header">
          <h4 class="modal-title">Add Profile</h4>
          <button 
              type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          
          <!-- Modal body -->
          <div class="modal-body"> 
                <!-- here this hastag is used to create a new variable which takes the whole form and then that value is  
                used to send the data in onSubmitExperience which is created it in profile.component.ts-->

                <table class="table table-striped" >
                  <thead>
          
                  </thead>
                  <tbody >
                    <tr id="test"  *ngFor="let p of patient">
                      
                      <td class="font-italic">
                        <h3>{{p.firstName}} {{p.lastName}}  </h3> 
                        <label> Email </label> 
                        {{p.email}} <br>

                         <label>Reason of sickness</label> 
                        {{p.disease}} <br>
                        <label>Date of birth</label>
                      {{p.dateOfBirth}}</td>
          
                    </tr>
                  </tbody>
              </table>
              <mat-divider></mat-divider>
              <div *ngIf="medicines?.length > 0; else noMedicines"> 
                <h3>Prescribed Medicines</h3>
                <table class="table table-striped" >
                  <thead>
                    <tr>
                      <th>Medicine </th>
                      <th>Price</th>
                    </tr>
                  </thead>
                  <tbody >
                    <tr class="test"  *ngFor="let p of medicines" [ngClass]="{'medicines' : true}">
                      <td> {{p.medName}} </td> 
                      <td>{{p.price}}  </td>  
                        <button class="btn btn-danger float-right" id="">{{p.id}}</button>
                    </tr>
                  </tbody>
               </table>
            </div>
            <ng-template #noMedicines>
              <p>There are no medicines prescribed yet</p>
            </ng-template>
            <mat-divider></mat-divider>   
            <h3>Prescribe new medicine</h3>  
            <br><br>      
            <form class="text-left" #medicineToAdd="ngForm" (ngSubmit)="addMedicineToPatient(medicineToAdd.value)">
              <div class="form-group">

                <select name="medicineId" ngModel>
                  <option value="" disabled>Choose a medicine</option>
                  <option *ngFor="let m of allMedicines" [ngValue]="m.id">
                    {{ m.medName }}
                  </option>
                </select>
                
               </div>
               <button 
                   mdbBtn 
                   type="submit"  
                   color="success" 
                   rounded="true" 
                   id="submitButton" 
                   onclick="$('.modal').modal('hide')&&$('.modal-backdrop').hide()" > submit
               </button>
           </form>
          </div>
              
          </div>
              <!-- Modal footer -->
              <div class="modal-footer">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>           
              </div>
          </div>
  </div>
  

<!-- Modal -->
<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="exampleFormControlInput1">Email address</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
          </div>
          <div class="form-group">
            <label for="exampleFormControlSelect1">Example select</label>
            <select class="form-control" id="exampleFormControlSelect1">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
          <div class="form-group">
            <label for="exampleFormControlSelect2">Example multiple select</label>
            <select multiple class="form-control" id="exampleFormControlSelect2">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Example textarea</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- <button (click)="addMedicineToPatient()">Add</button> -->
</div>
