<app-header></app-header>
<!-- <h1>
  WebSockets Demo
</h1>
<label for="message">send message: </label> -->
<!-- <input id="message" type="text" [(ngModel)]="sentMessage" (keyup.enter)="sendMessage()"> -->

<!-- <button (click)="sendMessage()">Send Message</button> -->
<!-- <button (click)="disconnect()">Disconnect</button>
<button (click)="connect()">Connect</button> -->




<div class="container p-3 my-3 border">
  <button
  [@bounce]="bounce"
    class="btn btn-success float-right" 
   (click)="openDialogAddPatient()">
    Add New Patient
  </button>
  <h1>Patients</h1>
  <br><br>
   <mat-divider style="background-color: black;"></mat-divider>
 
    <mat-form-field class="input-full-width" style="background-color:gray;">
      <div>
        <input type="text" matInput [(ngModel)]="searchValue" id="search" placeholder="Search by any letter">
      </div>  
   </mat-form-field>

  <table class="table table-hover table-striped table-responsive-lg">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email </th>
        <th>Date of birth</th>
      </tr>
    </thead>
    <tbody>

      <!-- @slideInOut -->
      <!--  -->

      <!-- Below after | i am giving the value I want to search basically that is a pipe and the name of the pipe is search Filter
      which can be seen in the pipe, so whatever name you give there you have to use that here  -->

      <!-- And the value you type in the searchValue, that will be sent to pipe , however in the pipe filter, the left side list must be provided in 
      the transform  method of pipe. you can see that in search-filter.ts -->
      <!-- the right side of the pipe is the value by which you want to filter, e.g. here the letters -->

     <tr id="test" 
     
       *ngFor="let patient of patients | searchFilter:searchValue"  matTooltip="Click on the first name to see the details">
            <div *ngIf="patient.userType == 'Pharmacist'; else notPharmacist">
              <!-- This div is to hide the phramacist -->
            </div>
            <ng-template #notPharmacist>
              <td (click)="getPatientData(patient.id)" data-toggle="modal"
              data-target="#patientModel" style="cursor: pointer;">{{patient.firstName}}</td>
              <td>{{patient.lastName}}</td>
              <td>{{patient.email}}</td>
              <td>{{patient.dateOfBirth}}</td>
               <button class="float-right" mat-icon-button (click)="openDialogDelete(patient.id)">
                 <mat-icon>remove_circle_outline</mat-icon>
               </button>
              <button class="edit-icon icons float-right" mat-icon-button (click)="openDialogUpdate(patient)">
                <mat-icon>border_color</mat-icon>
             </button>
            </ng-template>   
      </tr>
    </tbody>
  </table>

  
  <!-- <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#addProfileModal" id="buttonAdd">Add New Profile</button> -->
  <br><br><br>
  <div class="modal fade"  id="patientModel">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Details of {{patient?.firstName}} {{patient?.lastName}} </h4>
          <button
             type="button" class="close" data-dismiss="modal">&times;
          </button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
        
          <!-- here this hastag is used to create a new variable which takes the whole form and then that value is  
                used to send the data in onSubmitExperience which is created it in profile.component.ts-->
 
          <mat-divider></mat-divider>
          <div *ngIf="medicines?.length> 0; else noMedicines">
            <h3>Prescribed Medicines</h3>
            <table class="table table-striped table-responsive-lg ">
              <thead>
                <tr>
                  <th>Medicine </th>
                  <th>Price</th>
                  <th >Start Date</th>
                  <th >End Date</th>
                  <th >Status</th>
                </tr>
              </thead>
              <tbody>
                <tr class="test"  *ngFor="let p of medicines"
                  [ngClass]="{'medicines' : true}">
                  <td> {{p.medName}} </td>
                  <td>{{p.price}}$ </td>
                  <td>{{p.startDate}} </td>
                  <td>{{p.endDate}} </td>
                  <td>
                  <div *ngIf="p.active; else notActive">
                    <button disabled class="btn btn-success">{{p.managementId}}</button>
                  </div>
                  <ng-template #notActive>
                    <button disabled class="btn btn-danger">{{p.managementId}}</button>
                  </ng-template>
                </td>
                <button class="float-right" mat-icon-button (click)="openDialogRemovePatientMedicine(p.managementId, p.medName)">
                  <mat-icon>remove_circle_outline</mat-icon>
                </button>

                </tr>
              </tbody>
            </table>
          </div>
          <ng-template #noMedicines>
            <p>There are no medicines prescribed yet</p>
          </ng-template>
         <br>
             <mat-divider></mat-divider>
             <h3>Prescribe new medicine</h3>
             
          <form class="text-left" #medicineToAdd="ngForm"
            (ngSubmit)="addMedicineToPatient(medicineToAdd.value)">
            <div class="form-group">

              <select name="medicineId" ngModel>
                <option value="" disabled>Choose a medicine</option>
                <option *ngFor="let m of allMedicines" [ngValue]="m.id">
                  {{ m.medName }}
                </option>
              </select>
              <div class="row">
                <div class="col">
                  <label for="startDate">Start Date</label>
                  <input type="date" name="startDate" ngModel style="width: 100%;">
                </div>
                <div class="col">
                  <label for="endDate"> End Date</label>
                  <input type="date" name="endDate" ngModel style="width: 100%;">
                 
                </div>
              </div>
             
            </div>
           
            <button
              mdbBtn
              type="submit"
              color="success"
              rounded="true"
              id="submitButton"
              onclick="$('.modal').modal('hide')&&$('.modal-backdrop').hide()">
              submit
            </button>
          </form>
        </div>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
      </div>
    </div>
 </div>




