<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
      <h1 class="active" style="color: white;"> Login </h1>  <br>
  
      <!-- Login Form -->
      <form 
       #loginForm="ngForm" 
      (ngSubmit)="onLoginSubmit(email.value,password.value)">  
        <mat-form-field   
                class="input-full-width">
                <input matInput type="text" 
                name="email" 
                ngModel
                #email = "ngModel"
                placeholder="Email"> 
        </mat-form-field>
        <br>
        <mat-form-field 
                class="input-full-width" >
                <input matInput type="password" 
                name="password" 
                ngModel
                #password
                placeholder="Password"> 
        </mat-form-field>
        <div *ngIf="isLoginError" class="error-display">
          <i class="material-icons">
              error
          </i>
          Incorrect email or password!
        </div>
        <button 
            mdbBtn 
            type="submit"  
            rounded="true" 
            
            id="submitButton" > 
            submit
        </button>
      </form>
     
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <p style="color: white;"> or <br>
          <a class="underlineHover" [routerLink]="['/register']" style="color: white;">Sign Up?</a></p>
        
      </div>
  
    </div>
  </div>