body {
  background-color: #eeeeee;
}

.login md-card {
  width: 400px;
}

.login .logo {
  font-size: 48px;
  width: 48px;
  height: 48px;
}
@import url("https://fonts.googleapis.com/css?family=Poppins");

/* BASIC */

html {
  background-color: #56baed;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
}

a {
  color: #92badd;
  display: inline-block;
  text-decoration: none;
  font-weight: 400;
}

h2 {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-block;
  margin: 40px 8px 10px 8px;
  color: #cccccc;
}

/* STRUCTURE */

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}

#formContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 5px;
  background: #fff;
  padding-top: 30px;
  /* width: 90%; */
  padding-bottom: 25px;
  width: 450px;
  min-width: 450px;
  position: relative;

  -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
  background-color: rgb(129, 127, 127);
}

#submitButton {
  background-color: white;
}

#formFooter {
  text-align: center;
}

/* TABS */

h2.inactive {
  color: #cccccc;
}

h2.active {
  color: #0d0d0d;
  border-bottom: 2px solid #5fbae9;
}

* {
  box-sizing: border-box;
}

.input-full-width {
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  text-align: left;

  padding: 2%;
}
.error-display {
  color: red;
  /* float: left;

  position: absolute; */
  margin-top: 15%;
}
.underlineHover {
  text-decoration: underline;
}

::ng-deep input.mat-input-element {
  color: white;
}

/* Change label color on focused */
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: white !important;
}

/* underline border color on focused */
::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple {
  background-color: white !important;
}
