<app-nav-bar></app-nav-bar>
<div class="container fadeInDown">
    <div id="formContent">
        <app-client-header></app-client-header>
        <table class="table table-striped table-responsive-lg ">
          <thead>
            <tr>
              <th>Medicine </th>
              <th>Price</th>
              <th >Start Date</th>
              <th >End Date</th>
              <th >Status</th>
            </tr>
          </thead>
          <tbody>
            <tr class="test"  *ngFor="let p of medicines"
              [ngClass]="{'medicines' : true}">
              <td> {{p.medName}} </td>
              <td>{{p.price}}$ </td>
              <td>{{p.startDate}} </td>
              <td>{{p.endDate}} </td>
              <td>
              <div *ngIf="p.active; else notActive">
                <button disabled class="btn btn-success">{{p.managementId}}</button>
              </div>
              <ng-template #notActive>
                <button disabled class="btn btn-danger">{{p.managementId}}</button>
              </ng-template>
            </td>
          

            </tr>
          </tbody>
        </table>
          
    </div>

</div>

