.container-left {
  float: left;
  width: 45%;
}
.container-right {
  float: right;
  width: 45%;
}
.bottom {
  float: right;
}
.input-full-width {
  width: 100%;
  color: aquamarine;
  text-align: left;
  float: left;
  margin-left: 10px;
}

::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: lightcyan !important;
}

::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: lightcyan !important;
}

::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: lightcyan !important;
}
