<div class="container">
      <form 
      class="text-center"
      #updatePatient="ngForm"
      (ngSubmit)="onSubmitPatient(updatePatient.value)">
      <h1 >Edit the Patient</h1>

      <div class="row">
           
            <div class="col">
                  <h3>Basic Information</h3>
                  <mat-form-field   
                  class="input-full-width">
                  <input matInput type="text" 
                  name="firstName" 
                  disabled
                  ngModel = " {{patient.firstName}}"
                  #firstName = "ngModel"
                  placeholder="First Name"> 
            </mat-form-field>
            <mat-form-field 
                  class="input-full-width" >
                  <input matInput type="text" 
                  name="lastName" 
                  disabled
                  ngModel = "{{patient.lastName}}"
                  #lastName = "ngModel"
                  placeholder="Last Name"> 
            </mat-form-field>
            <mat-form-field 
                  class="input-full-width">
                  <input matInput 
                        disabled 
                        type="date" 
                        name="dateOfBirth" 
                        ngModel = {{patient.dateOfBirth}}
                        placeholder="Date Of Birth"
                        style="width: 100%;">
            </mat-form-field>
            </div>
            <div class="col">
             <h4>Credentials</h4>
            <mat-form-field 
                  class="input-full-width" >
                  <input matInput type="text" 
                  name="email" 
                  ngModel = "{{patient.email}}"
                #email = "ngModel"
                placeholder="email"> 
            </mat-form-field>
            <br>
            <mat-form-field 
                  class="input-full-width" >
                  <input matInput type="text" 
                  name="password" 
                  ngModel = "{{patient.password}}"
                  #password = "ngModel"
                  placeholder="password"> 
            </mat-form-field>
            </div>
      </div>
      <h4>Adresss</h4>
      <div class="row">
            <div class="col">
                  <mat-form-field 
                  class="input-full-width" >
                  <input matInput type="text" 
                  name="streetName" 
                  ngModel = "{{patient.streetName}}"
                  #streetName = "ngModel"
                  placeholder="Street Name"> 
            </mat-form-field>
          
            <mat-form-field 
                  class="input-full-width" >
                  <input matInput type="text" 
                  name="houseNr" 
                  ngModel = "{{patient.houseNr}}"
                  #houseNr = "ngModel"
                  placeholder="houseNr"> 
            </mat-form-field>
            </div>
            <div class="col">
                  
      
          <mat-form-field 
                class="input-full-width" >
                <input matInput type="text" 
                name="city" 
                ngModel = "{{patient.city}}"
                #city = "ngModel"
                placeholder="city"> 
          </mat-form-field>
          <mat-form-field 
                class="input-full-width" >
                <input matInput type="text" 
                name="zipcode" 
                ngModel = "{{patient.zipcode}}"
                #zipcode = "ngModel"
                placeholder="zipcode"> 
          </mat-form-field>

          
            <button 
                mdbBtn 
                type="submit"  
                rounded="true" 
                class="btn btn-success"
                id="submitButton" > 
                submit
            </button>
            <button 
                type="button" 
                class="btn btn-danger" 
                (click)="CloseDialog()">
                Close
            </button>  
            </div>
      </div>
</form>
</div>

<!-- <div class="d-flex justify-content-between align-items-center mb-3">
    <h2 >Edit the Patient</h2>
</div> -->
    <div class="container-left">
         
          <!-- <mat-form-field 
            class="input-full-width">
            <input matInput type="text" 
                name="year" 
                ngModel = "{{patient.year}}"
                #month = "ngModel"
                disabled>
        </mat-form-field>
        <mat-form-field 
        class="input-full-width">
                <input matInput type="text" 
                name="month" 
                ngModel = "{{patient.month}}"
                #month = "ngModel"
                disabled>
        </mat-form-field>
        <mat-form-field 
        class="input-full-width">
                <input matInput type="text" 
                name="day" 
                ngModel = "{{patient.day}}"
                #day = "ngModel"
                disabled
                placeholder="Day">
        </mat-form-field> -->
<!--         
        <h4>Sickness</h4>
        <mat-form-field 
              class="input-full-width" >
              <input matInput type="text" 
              name="disease" 
              ngModel = "{{patient.disease}}"
                #disease = "ngModel"
                placeholder="Sickness"
              placeholder="What is the sickness?"> 
      </mat-form-field> -->
       
            
    </div>
    <div class="container-right">
    
           
    </div>  

        


